:root {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

.dark {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
  animation: marquee var(--duration, 30s) linear infinite reverse;
}

